@use "sass:color";
@use "partials/variables";
@use "partials/swiper";
@use "partials/navbar";
@use "partials/feuilles";
@use "partials/card";
@use "partials/don";
@use "partials/footer";
@use "partials/popup";
@use "partials/page404";
@use "partials/hero_generique";
@use "partials/description_base";
@use "partials/hubs";
@use "partials/FAQ";
* {
    font-family: 'Playfair Display', serif;
    box-sizing: border-box;
    text-align: center;
}

body {
    max-width: 100%;
    width: 100vw;
    margin: 0;
    position: relative;
    overflow-x: hidden;
    background-color: var(--mindaro);
}

h1 {
    justify-self: center;
    align-self: center;    
    text-align: center;
    padding-bottom: 50px;
    font-weight: bold;
    font-size: 50px;
    color: var(--foret);
}

//Sections de la page
section {
    width: 100%;
    height: 120%;
    position: relative;
    padding: 10vw 50px;
    box-shadow: inset 0 5px 10px #00000056;
    
    a {
    color: var(--foret);
    font-weight: bold;
    font-size: 30px;
    
}

    &:nth-child(even) {
        background-color: var(--poudre);

    } 
    
    &:nth-child(odd) {
        background-color: var(--mindaro);

    }
}

//Header
header {
    position: fixed;
    z-index: 4;
    width: 100%;
}

//Row communs
.row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.formation--grid{
    display: grid;
    grid-template-columns: 1fr 2fr;
    font-size: 30px;
    img{
        max-width: 80%;
    }
}



.voirPlus {
    display: flex;
    justify-content: flex-end;
    z-index: 3;
    a {
        color: var(--foret);
        font-weight: bold;
    }
    
}

