@use "sass:color";
@use "variables";

.card {
    background-image: url(/sources/medias/accueil/pexels-photo-121629_535x.webp);
    width: 100%;
    background-size: cover;
    border-radius: 25px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    border: none;
    height: 100%;
    transition-property: box-shadow, transform;
    transition-duration: 0.3s;

    &:hover {
        box-shadow: 0px 0px 10px 5px var(--foret);
        transform: scale(1.03);
    }

    &-img-top {
        height: 300px;
    }

    &-body {
        color: var(--vertfonce);
        backdrop-filter: blur(10px);
        background: color.adjust(white, $alpha: -0.5);
        border-radius: 25px;
        border: none;
        font-weight: 900;
        font-size: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

section.volets {
    .card {
        &-img-top {
            height: 450px;

        }
    }
}