//Création d'une composante permettant d'afficher le contenu du champ description. Detail de la nouvelle, Hub de services, Détail d'un service, Équipe, À propos, Histoire.
.description--generique{
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 100px;
    font-weight: bolder;
    background-color: var(--mindaro);
    color: var(--foret);
    border-top-right-radius: 2vw;
    margin: 0;
}