.leaf {

    &1 {
        position: absolute;
        z-index: 2;
        top: -100px;
        right: -100px;
        transform: rotateZ(90deg) scaleY(-1);
    }

    &2 {
        position: absolute;
        z-index: 2;
        top: -250px;
        left: -100px;
        transform: rotateZ(20deg);
    }

    &3 {
        position: absolute;
        z-index: 2;
        top: -250px;
        right: -100px;
        transform: rotateZ(160deg) scaleY(-1);
    }

    &-solo {
        position: absolute;
        top: 40%;
        right: 10%;
        transform: rotate(30deg);
        width: 35%;
    }
}