//Composante utilisée pour une image et un titre utilisé dans Hub de nouvelles, Hub de services, Détail d'un service, Équipe, À propos, Histoire
.hero-generique--background{
    width: 100%;
    height: 100%;
    background: url('../../sources/medias/accueil/intro-craque_1500x.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    filter: opacity(0.7) blur(10px);}
.hero-generique--section{
    height: 70vh;
padding: 0;
    position: relative;
}
.hero-generique--titre{
    position: absolute;
    bottom: 0;
    font-size: 50px;
    width: 100%;
    font-weight: bolder;
    background-color: var(--mindaro);
    color: var(--foret);
    border-top-right-radius: 2vw;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px;
     .categorie{
        font-size: 20px;
        background-color: var(--asperge);
        color: var(--poudre);
        padding: 10px;
        border-radius: 50px;
    }
}